
  <!--<ul >
  <li >
    <div class="row">
              <div class="col-md-4">
                <img [src]="user.image" alt="no image" width="200px" height="200px">
                </div >
              <div class="col-md-8">
                <button  *ngIf="showDec"(click)="showDescription()" class="btn btn-primary">+</button>
                <div *ngIf="!showDec">
                <button (click)="showDescription()" class="btn btn-primary">-</button>
                <h1>{{user.name.firstname}} {{user.name.lastname}}</h1>
             <p>{{user.email}}</p>
             <p>{{user.address.city}}</p>
             <p>{{user.phone}}</p>
             <button (click)="showDescription()" class="btn btn-primary btn-sm mr-5">invite</button>
             <button (click)="showDescription()" class="btn btn-primary btn-sm">edit</button>
             <button (click)="showDescription()" class="btn btn-primary btn-sm">delete</button>
             </div>
             
      </div>
      </div>
    
  </li>
</ul>-->
<div class="bgimage" style="height:750px; padding-top:300px">
<div class="container" class="card card-body mb-2">
  <div class="row" style="background-color: white;">
    
    <div class="col-md-3 " >
      <h5>Starting ₹199 + Extra up to ₹700 cashback</h5>
      <div class="row" >
        <div class="col-md-6"  >
          <div class="block" >
          <a href="http://localhost:4200/listofietems"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Fashion/Event/Gateway/WRS-Jun/PC_QC_186/Comp-186/5-min._SY116_CB666463598_.jpg" width="150px"></a>
          <p>Women's Clothing</p>
        </div>
        </div>

        <div class="col-md-6">
          <div  class="block">
            <a href="http://localhost:4200/listofietems"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Fashion/Event/Gateway/WRS-Jun/PC_QC_186/Comp-186/6-min._SY116_CB666463598_.jpg" width="150px"></a>
            <p>Footwear+Handbags</p>
          </div>
        </div>
      </div>

      <div class="row" >
        <div class="col-md-6">
          <div class="block">
            <a href="http://localhost:4200/listofietems"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Fashion/Event/Gateway/WRS-Jun/PC_QC_186/Comp-186/8-min._SY116_CB666463598_.jpg" width="150px"></a>
            <p>Watches</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="block">
            <a href="http://localhost:4200/listofietems"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Fashion/Event/Gateway/WRS-Jun/PC_QC_186/Comp-186/7-min._SY116_CB666463598_.jpg" width="150px"></a>
            <p>Fashion jewellery</p>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <h5>Top rated, premium quality | Amazon Brands & more</h5>
      <div class="row">
        <div class="col-md-6">
          <div class="block">
            <a href="http://localhost:4200/listofietems">
              <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/AmazonBrands/GW/Home_1x._SY116_CB627275939_.jpg" width="150px">
            </a>
            <p>Home products</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="block">
            <a href="http://localhost:4200/listofietems">
              <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/AmazonBrands/GW/Furn_1x._SY116_CB627275939_.jpg" width="150px">
            </a>
            <p>Furniture</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="block">
            <a href="http://localhost:4200/listofietems">
              <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/AmazonBrands/GW/DE_1x._SY116_CB627275939_.jpg" width="150px">
            </a>
            <p>Daily essentials</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="block">
            <a href="http://localhost:4200/listofietems">
              <img src="https://images-eu.ssl-images-amazon.com/images/G/31/Symbol/2020/GatewayNK/PC/spb_186x116._SY116_CB433889053_.jpg" width="150px">
            </a>
            <p>Clothing essentials</p>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <h5>Upgrade your home | Amazon Brands & more</h5>
      <div class="row">
        <div class="col-md-6"><div class="block"><a href="http://localhost:4200/listofietems"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/AmazonBrands/GW/TV_1x._SY116_CB627443840_.jpg" width="150px"></a><p>Smart LED TVs</p></div></div>
        <div class="col-md-6"><div class="block"><a href="http://localhost:4200/listofietems"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/AmazonBrands/GW/Appliances_1x._SY116_CB627444559_.jpg" width="150px"></a><p>Applinces</p></div></div>
      </div>
      <div class="row">
        <div class="col-md-6"><div class="block"><a href="http://localhost:4200/listofietems"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/AmazonBrands/GW/Furn_1x._SY116_CB627275939_.jpg" width="150px"></a><p>Furniture</p></div></div>
        <div class="col-md-6"><div class="block"><a href="http://localhost:4200/listofietems"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/AmazonBrands/GW/Kitchen_1x._SY116_CB627276315_.jpg" width="150px"></a><p>Kitchen products</p></div></div>
      </div>
    </div>


    <div class="col-md-3">
      <h5>Amazon Pay | Book your travel tickets</h5>
      <div class="row">
        <div class="col-md-6"><div class="block"><a href="http://localhost:4200/listofietems"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/AmazonPayTravels/November/GWPercolate/Flight_186x116._SY116_CB653435429_.jpg" width="150px"></a><p>Flight tickets</p></div></div>
        <div class="col-md-6"><div class="block"><a href="http://localhost:4200/listofietems"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/AmazonPayTravels/November/GWPercolate/Bus_186x116._SY116_CB653435429_.jpg" width="150px"></a><p>Bus tickets</p></div></div>
      </div>
      <div class="row">
        <div class="col-md-6"><div class="block"><a href="http://localhost:4200/listofietems"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/AmazonPayTravels/November/GWPercolate/Train_186x116._SY116_CB653435429_.jpg" width="150px"></a><p>Train tickets</p></div></div>
        <div class="col-md-6"><div class="block"><a href="http://localhost:4200/listofietems"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/AmazonPayTravels/November/GWPercolate/essential_186x116._SY116_CB653435429_.jpg" width="150px"></a><p>Essential travel products</p></div></div>
      </div>  
    </div>


  </div>
  </div>
</div>
    
    